@font-face {
  font-family: 'Fira Code';
  src: url('../assets/FiraCode-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  background: orangered;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  overflow: scroll;
  margin: 0;
  padding: 0;
  font-family: Fira Code;
  background-image: url('../assets/taco-bg.jpg');
}

nav {
  position: sticky;
  width: 100%;
  height: 6%;
  display: flex;
  background: orangered;
  color: white;
  border-bottom: black 4px solid;
  margin-bottom: 4%;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 6px 5px;
}

.title {
  width: 100%;
  font-size: 40px;
  margin-left: 60px;
  justify-self: flex-start;
  /* text-shadow: black 4px 4px; */
}

p {
  margin: 4%;
}

.navButtons {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.navButton {
  height: 100%;
  display: table;
  margin-right: 100px;
  transition: 0.3s;
  cursor: pointer;
  color: white;
}

.navButton p {
  display: table-cell;
  vertical-align: middle;
}

.navButton:hover {
  transform: translateY(-3px);
}

.readMe {
  width: 50%;
  height: 100%;
  border: black 4px solid;
  background: white;
  padding: 3%;
  box-shadow: rgba(0, 0, 0, 0.9) 15px 20px;
}

code {
  font-family: Fira Code;
}

.snippet {
  font-family: Fira Code;
  font-size: 14pt;
  background: whitesmoke;
  border: gainsboro 1px solid;
  border-radius: 5px;
}

button {
  font-size: 14pt;
  width: 20%;
  color: white;
  height: 10%;
  background: orangered;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.8) 6px 6px;
}

button p {
  font-family: Fira Code;
}

button:focus {
  outline: none;
}

iframe {
  margin-top: 3%;
  height: 101vh;
}

#taquerias-by-rating {
  display: block;
  height: 300px;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.sample {
  margin-top: 7%;
}

a {
  text-decoration: underline;
  color: orangered;
}
